<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<title th:replace="${view} :: title">HRMS</title>

		<!-- BEGIN META -->
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="keywords" content="your,keywords"/>
		<meta name="description" content="Short explanation about this website"/>
		<!-- END META -->

		<!-- BEGIN STYLESHEETS -->
		<link rel="icon" th:href="@{/img/favicon.ico}" href="../../static/img/favicon.ico" type="image/x-icon"/>
		<link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/>
		<link type="text/css" rel="stylesheet" th:href="@{/theme/material-admin/assets/css/theme-default/bootstrap.css}" href="../../static/theme/material-admin/assets/css/theme-default/bootstrap.css" />
		<link type="text/css" rel="stylesheet" th:href="@{/theme/material-admin/assets/css/theme-default/materialadmin.css}" href="../../static/theme/material-admin/assets/css/theme-default/materialadmin.css" />
		<link type="text/css" rel="stylesheet" th:href="@{/theme/material-admin/assets/css/theme-default/font-awesome.min.css}" href="../../static/theme/material-admin/assets/css/theme-default/font-awesome.min.css" />
		<link type="text/css" rel="stylesheet" th:href="@{/theme/material-admin/assets/css/theme-default/material-design-iconic-font.min.css}" href="../../static/theme/material-admin/assets/css/theme-default/material-design-iconic-font.min.css" />
		<th:block th:replace="${view} :: styles"></th:block>
		<!-- Additional CSS includes -->
		<link type="text/css" rel="stylesheet" th:href="@{/css/site.css}" href="../../static/css/site.css" />
		<!-- END STYLESHEETS -->

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script type="text/javascript" th:src="@{/theme/material-admin/assets/js/libs/utils/html5shiv.js?1403934957"></script>
		<script type="text/javascript" th:src="@{/theme/material-admin/assets/js/libs/utils/respond.min.js?1403934956"></script>
		<![endif]-->
	</head>
	<body class="menubar-hoverable header-fixed menubar-pin ">

		<!-- BEGIN HEADER-->
		<header id="header" >
			<div class="headerbar">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="headerbar-left">
					<ul class="header-nav header-nav-options">
						<li class="header-nav-brand" >
							<div class="brand-holder">
								<a href="javascript:void(0);">
									<img th:src="@{/img/clmmrh_logo.png}" src="../../static/img/clmmrh_logo.png" alt="" />
								</a>
								<div>
									<a href="/home">
										<span class="text-lg text-bold text-primary">CLMMRH HRMS</span>
									</a>
								</div>
							</div>
						</li>
						<li>
							<a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
								<i class="fa fa-bars"></i>
							</a>
						</li>
					</ul>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="headerbar-right">
					<ul class="header-nav header-nav-profile">
						<li class="dropdown">
							<a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
								<img th:src="@{/img/gregory_house.jpg}" src="../../static/img/gregory_house.jpg" alt="" />
								<span class="profile-info">
									<span th:text="${activeUser.displayName}">Juan de la Cruz</span>
									<small th:text="${activeUser.displayRole}">Administrator</small>
								</span>
							</a>
							<ul class="dropdown-menu animation-dock">
								<li class="dropdown-header">Config</li>
								<li><a href="#">My profile</a></li>
								<li class="divider"></li>
								<li><a id="logoutBtn" href="javascript:void(0);"><i class="fa fa-fw fa-power-off text-danger"></i> Logout</a></li>
							</ul><!--end .dropdown-menu -->
							<form id="logoutForm" class="form" th:action="@{/logout}" style="display:none" method="POST"></form>
						</li><!--end .dropdown -->
					</ul><!--end .header-nav-profile -->
				</div><!--end #header-navbar-collapse -->
			</div>
		</header>
		<!-- END HEADER-->

		<!-- BEGIN BASE-->
		<div id="base">

			<!-- BEGIN OFFCANVAS LEFT -->
			<div class="offcanvas">
			</div><!--end .offcanvas-->
			<!-- END OFFCANVAS LEFT -->

			<!-- BEGIN CONTENT-->
			<div id="content" th:replace="${view} :: content">
				<!-- BEGIN BLANK SECTION -->
				<section>
					<div class="section-header">
						<ol class="breadcrumb">
							<li><a href="#">home</a></li>
							<li class="active">Blank page</li>
						</ol>
					</div><!--end .section-header -->
					<div class="section-body">
					</div><!--end .section-body -->
				</section>
				<!-- END BLANK SECTION -->
			</div>
			<!-- END CONTENT -->

			<!-- BEGIN MENUBAR-->
			<div id="menubar" class="menubar-inverse">
				<div class="menubar-scroll-panel">

					<!-- BEGIN MAIN MENU -->
					<ul id="main-menu" class="gui-controls">

						<!-- BEGIN DASHBOARD -->
						<li>
							<a th:href="@{/home}" >
								<div class="gui-icon"><i class="md md-home"></i></div>
								<span class="title">Home</span>
							</a>
						</li><!--end /menu-li -->
						<!-- END DASHBOARD -->

						<!-- VCT RECORDS -->
						<li class="gui-folder expanded">
							<a>
								<div class="gui-icon"><i class="md md-chat"></i></div>
								<span class="title">VCT</span>
							</a>
							<ul>
								<li><a th:href="@{/vct/list}" href="#"><span class="title">List / Search</span></a></li>
								<li><a th:href="@{/vct/create}" href="#"><span class="title">Create New Record</span></a></li>
							</ul>
						</li><!--end /menu-li -->
						<!-- END VCT RECORDS -->
						
						<!-- ENROLLMENT RECORDS -->
						<li class="gui-folder expanded">
							<a>
								<div class="gui-icon"><i class="md md-person-add"></i></div>
								<span class="title">Enrollment</span>
							</a>
							<ul>
								<li><a th:href="@{/vct/list}" href="#"><span class="title">List / Search</span></a></li>
								<li><a th:href="@{/vct/create}" href="#"><span class="title">Create New Record</span></a></li>
							</ul>
						</li><!--end /menu-li -->
						<!-- END ENROLLMENT RECORDS -->
						
						<!-- BEGIN INVENTORY OF STOCKS -->
						<li class="gui-folder expanded">
							<a>
								<div class="gui-icon"><i class="md md-assignment"></i></div>
								<span class="title">Inventory of Stocks</span>
							</a>
							<ul>
								<li><a href="#"><span class="title">List / Search</span></a></li>
								<li><a href="#"><span class="title">Add New</span></a></li>
							</ul>
						</li><!--end /menu-li -->
						<!-- END INVENTORY OF STOCKS -->
						
						<!-- BEGIN REPORTS -->
						<li class="gui-folder">
							<a>
								<div class="gui-icon"><i class="md md-assessment"></i></div>
								<span class="title">Reports</span>
							</a>
							<ul>
								<li><a href="#"><span class="title">HCT Daily Registry</span></a></li>
								<li><a href="#"><span class="title">HCT Monthly Report</span></a></li>
								<li><a href="#"><span class="title">Monthly ART Registry</span></a></li>
								<li><a href="#"><span class="title">HIV Care Monthly Report</span></a></li>
								<li><a href="#"><span class="title">Pharmacy Inventory Report</span></a></li>
								<li><a href="#"><span class="title">HIV Statistic Monthly Report</span></a></li>
								<li><a href="#"><span class="title">Client Master List</span></a></li>
							</ul>
						</li><!--end /menu-li -->
						<!-- END REPORTS -->

					</ul><!--end .main-menu -->
					<!-- END MAIN MENU -->

					<div class="menubar-foot-panel">
						<small class="no-linebreak hidden-folded">
							<span class="opacity-75">Copyright &copy; 2015</span> | <a href="http://rey.libutan.com" target="blank"><strong>Rey Libutan</strong></a>
						</small>
					</div>
				</div><!--end .menubar-scroll-panel-->
			</div><!--end #menubar-->
			<!-- END MENUBAR -->

			<!-- BEGIN OFFCANVAS RIGHT -->
			<div class="offcanvas">
			</div><!--end .offcanvas-->
			<!-- END OFFCANVAS RIGHT -->

		</div>
		<!-- END BASE -->

		<!-- BEGIN JAVASCRIPT -->
		<script th:src="@{/theme/material-admin/assets/js/libs/jquery/jquery-1.11.2.min.js}" src="../../static/theme/material-admin/assets/js/libs/jquery/jquery-1.11.2.min.js"></script>
		<script th:src="@{/theme/material-admin/assets/js/libs/jquery/jquery-migrate-1.2.1.min.js}" src="../../static/theme/material-admin/assets/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
		<script th:src="@{/theme/material-admin/assets/js/libs/bootstrap/bootstrap.min.js}" src="../../static/theme/material-admin/assets/js/libs/bootstrap/bootstrap.min.js"></script>
		<script th:src="@{/theme/material-admin/assets/js/libs/spin.js/spin.min.js}" src="../../static/theme/material-admin/assets/js/libs/spin.js/spin.min.js"></script>
		<script th:src="@{/theme/material-admin/assets/js/libs/autosize/jquery.autosize.min.js}" src="../../static/theme/material-admin/assets/js/libs/autosize/jquery.autosize.min.js"></script>
		<script th:src="@{/theme/material-admin/assets/js/libs/nanoscroller/jquery.nanoscroller.min.js}" src="../../static/theme/material-admin/assets/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
		<script th:src="@{/theme/material-admin/assets/js/core/source/App.js}" src="../../static/theme/material-admin/assets/js/core/source/App.js"></script>
		<script th:src="@{/theme/material-admin/assets/js/core/source/AppNavigation.js}" src="../../static/theme/material-admin/assets/js/core/source/AppNavigation.js"></script>
		<script th:src="@{/theme/material-admin/assets/js/core/source/AppOffcanvas.js}" src="../../static/theme/material-admin/assets/js/core/source/AppOffcanvas.js"></script>
		<script th:src="@{/theme/material-admin/assets/js/core/source/AppCard.js}" src="../../static/theme/material-admin/assets/js/core/source/AppCard.js"></script>
		<script th:src="@{/theme/material-admin/assets/js/core/source/AppForm.js}" src="../../static/theme/material-admin/assets/js/core/source/AppForm.js"></script>
		<script th:src="@{/theme/material-admin/assets/js/core/source/AppNavSearch.js}" src="../../static/theme/material-admin/assets/js/core/source/AppNavSearch.js"></script>
		<script th:src="@{/theme/material-admin/assets/js/core/source/AppVendor.js}" src="../../static/theme/material-admin/assets/js/core/source/AppVendor.js"></script>
		<script th:src="@{/js/site.js}" src="../../static/js/site.js"></script>
		<th:block th:replace="${view} :: scripts"></th:block>
		<!-- END JAVASCRIPT -->
	</body>
</html>