<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 
<head>
	<title th:fragment="title">VCT | Create</title>
	
	<!-- BEGIN META -->
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="keywords" content="your,keywords"/>
	<meta name="description" content="Short explanation about this website"/>
	<!-- END META -->

	<!-- BEGIN STYLESHEETS -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/>
	<link type="text/css" rel="stylesheet" th:href="@{/theme/material-admin/assets/css/theme-default/bootstrap.css}" href="../../static/theme/material-admin/assets/css/theme-default/bootstrap.css" />
	<link type="text/css" rel="stylesheet" th:href="@{/theme/material-admin/assets/css/theme-default/materialadmin.css}" href="../../static/theme/material-admin/assets/css/theme-default/materialadmin.css" />
	<link type="text/css" rel="stylesheet" th:href="@{/theme/material-admin/assets/css/theme-default/font-awesome.min.css}" href="../../static/theme/material-admin/assets/css/theme-default/font-awesome.min.css" />
	<link type="text/css" rel="stylesheet" th:href="@{/theme/material-admin/assets/css/theme-default/material-design-iconic-font.min.css}" href="../../static/theme/material-admin/assets/css/theme-default/material-design-iconic-font.min.css" />
	<link type="text/css" rel="stylesheet" th:href="@{/theme/material-admin/assets/css/theme-default/libs/DataTables/jquery.dataTables.css}" href="../../static/theme/material-admin/assets/css/theme-default/libs/DataTables/jquery.dataTables.css" />
	<link type="text/css" rel="stylesheet" th:href="@{/theme/material-admin/assets/css/theme-default/libs/DataTables/extensions/dataTables.colVis.css}" href="../../static/theme/material-admin/assets/css/theme-default/libs/DataTables/extensions/dataTables.colVis.css" />
	<link type="text/css" rel="stylesheet" th:href="@{/theme/material-admin/assets/css/theme-default/libs/DataTables/extensions/dataTables.tableTools.css}" href="../../static/theme/material-admin/assets/css/theme-default/libs/DataTables/extensions/dataTables.tableTools.css" />
	<th:block th:fragment="styles">
		<link type="text/css" rel="stylesheet" th:href="@{/theme/material-admin/assets/css/theme-default/libs/bootstrap-datepicker/datepicker3.css}" href="../../static/theme/material-admin/assets/css/theme-default/libs/bootstrap-datepicker/datepicker3.css" />
	</th:block>
	<link type="text/css" rel="stylesheet" th:href="@{/css/site.css}" href="../../static/css/site.css" />
	<!-- END STYLESHEETS -->

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script type="text/javascript" th:src="@{/theme/material-admin/assets/js/libs/utils/html5shiv.js?1403934957"></script>
	<script type="text/javascript" th:src="@{/theme/material-admin/assets/js/libs/utils/respond.min.js?1403934956"></script>
	<![endif]-->
</head>
<body>
<div id="content" th:fragment="content">
	<section>
		<div class="section-body">
			<form class="form" autocomplete="off">
				<div class="row">
					<div class="col-md-5">
						<div class="card noBottomMargin">
							<div class="card-head card-head-sm style-primary">
								<header>Patient Information</header>
								<div class="tools">
									<div class="btn-group">
										<a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
									</div>
								</div>
							</div>
							<div class="card-body">
								<fieldset>
									<legend>Basic Information</legend>
									<div class="row">
							            <div class="col-md-6">    
							                <div class="form-group floating-label">
												<input type="text" class="form-control input-sm" name="firstName" />
												<label for="firstName">First name</label>
											</div>
							            </div>
							            <div class="col-md-6">    
							                <div class="form-group floating-label">
												<input type="text" class="form-control input-sm" name="lastName" />
												<label for="lastName">Last name</label>
											</div>
							            </div>
							        </div>
							        <div class="row">
							            <div class="col-md-6">    
							                <div class="form-group floating-label">
												<input type="text" class="form-control input-sm" name="" />
												<label for="middleName">Middle name</label>
											</div>
							            </div>
							            <div class="col-md-6">    
							                <div class="form-group floating-label">
												<input type="text" class="form-control input-sm" value="XX-YY-99" readonly="readonly"/>
												<label for="uniqueIdentifierCode">Unique Identifier Code</label>
											</div>
							            </div>
							        </div>
							        <div class="row">
							            <div class="col-md-6">    
							                <div class="form-group control-width-normal">
												<div class="input-group date" id="demo-date-format">
													<div class="input-group-content">
														<input type="text" class="form-control input-sm" data-inputmask="'mask': '9999/99/99'" />
														<label>Birthdate</label>
														<p class="help-block">yyyy/mm/dd</p>
													</div>
													<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
												</div>
											</div>
							            </div>
							            <div class="col-md-6">
							            	<div class="form-group floating-label">
												<input type="text" class="form-control input-sm" value="24" readonly="readonly"/>
												<label for="age">Age</label>
											</div>
							            </div>
							        </div>
							        <div class="row">
							            <div class="col-md-12">
							            	<div class="form-group text-right">
							            		<div class="customBtnGroup btn-group" data-toggle="buttons">
													<label class="btn btn-sm ink-reaction btn-default active">
														<input type="radio" name="options" id="option1" /><i class="fa fa-male fa-fw"></i> Male
													</label>
													<label class="btn btn-sm ink-reaction btn-default">
														<input type="radio" name="options" id="option2" /><i class="fa fa-female fa-fw"></i> Female
													</label>
												</div>
							            	</div>
							            </div>
							        </div>
						        </fieldset>
						        <fieldset>
									<legend>Contact Information</legend>
									<div class="row">
							            <div class="col-md-12">    
							                <div class="form-group floating-label">
												<input type="text" class="form-control input-sm"/>
												<label for="address">Address</label>
												<p class="help-block">Street, Purok, Barangay</p>
											</div>
							            </div>
							        </div>
							        <div class="row">
							            <div class="col-md-6">    
							                <div class="form-group floating-label">
												<input type="text" class="form-control input-sm"/>
												<label for="city">City</label>
											</div>
							            </div>
							            <div class="col-md-6">    
							                <div class="form-group floating-label">
												<input type="text" class="form-control input-sm"/>
												<label for="contactNumber">Contact Number</label>
											</div>
							            </div>
							        </div>
						        </fieldset>
						        <div class="height-1"></div> 
						        <fieldset>
									<legend>Mother's Information</legend>
									<div class="row">
							            <div class="col-md-6">    
							                <div class="form-group floating-label">
												<input type="text" class="form-control input-sm"/>
												<label for="momFirstName">First name</label>
											</div>
							            </div>
							            <div class="col-md-6">    
							                <div class="form-group floating-label">
												<input type="text" class="form-control input-sm"/>
												<label for="momMiddleName">Last name</label>
											</div>
							            </div>
							        </div>
							        <div class="row">
							            <div class="col-md-6">    
							                <div class="form-group floating-label">
												<input type="text" class="form-control input-sm"/>
												<label for="momMiddleName">Middle name</label>
											</div>
							            </div>
							        </div>
						        </fieldset>
							</div>
						</div>
					</div>
					<div class="col-md-7">
						<div class="card">
							<div class="card-head card-head-sm style-primary">
								<header>VCT Information</header>
								<div class="tools">
									<div class="btn-group">
										<a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
									</div>
								</div>
							</div>
							<div class="card-body">
								<fieldset class="hivRisksFieldset">
									<legend class="noBottomMargin">HIV Risks</legend>
									<div th:unless="${#lists.isEmpty(hivRiskList)}" class="form-group">
										<div class="row" th:each="hivRisk, stat : ${hivRiskList}" th:if="${stat.even}">
											<div class="col-md-6" th:with="leftRisk=${hivRiskList.get(stat.index)}">
												<div class="checkbox checkbox-styled">
													<label>
														<input type="checkbox" value="-1" th:value="${leftRisk.id}"/>
														<span th:text="${leftRisk.name}">HIV Risk</span>
													</label>
												</div>
											</div>
											<div class="col-md-6" th:if="${stat.index + 1 &lt; hivRiskList.size()}" th:with="rightRisk=${hivRiskList.get(stat.index + 1)}">
												<div class="checkbox checkbox-styled">
													<label>
														<input type="checkbox" value="-1" th:value="${rightRisk.id}"/>
														<span th:text="${rightRisk.name}">HIV Risk</span>
													</label>
												</div>
											</div>
										</div>
										<!-- <div class="row">
											<div class="col-md-12" style="padding-left: 43px; font-size: 12px;">
												<label>Provided Post Exposure Prophylaxis</label>
												<div class="customBtnGroup btn-group" data-toggle="buttons" style="margin-left: 20px;">
													<label class="btn btn-sm ink-reaction btn-default active">
														<input type="radio" name="options" id="option1" /> Yes
													</label>
													<label class="btn btn-sm ink-reaction btn-default">
														<input type="radio" name="options" id="option2" />No
													</label>
												</div>
											</div>
										</div> -->
									</div>
								</fieldset>
								<div class="height-1"></div>
								<fieldset>
									<legend class="noBottomMargin">Test Information</legend>
									<div class="row">
						            	<div class="form-group">
						            		<div class="col-md-7">
						            			<label>Tested for HIV?</label>
						            		</div>
						            		<div class="col-md-5">
						            			<div class="customBtnGroup btn-group" data-toggle="buttons">
													<label class="btn btn-sm ink-reaction btn-default active">
														<input type="radio" name="options" id="option1" /> Yes
													</label>
													<label class="btn btn-sm ink-reaction btn-default">
														<input type="radio" name="options" id="option2" />No
													</label>
												</div>
						            		</div>
						            	</div>
							        </div>
							        <div class="row">
						            	<div class="form-group">
						            		<div class="col-md-7">
						            			<label>Positive for HIV?</label>
						            		</div>
						            		<div class="col-md-5">
						            			<div class="customBtnGroup btn-group" data-toggle="buttons">
													<label class="btn btn-sm ink-reaction btn-default active">
														<input type="radio" name="options" id="option1" /> Yes
													</label>
													<label class="btn btn-sm ink-reaction btn-default">
														<input type="radio" name="options" id="option2" />No
													</label>
												</div>
						            		</div>
						            	</div>
							        </div>
							        <div class="row">
						            	<div class="form-group">
						            		<div class="col-md-7">
						            			<label>Provided Post-test Counseling and HIV Result?</label>
						            		</div>
						            		<div class="col-md-5">
						            			<div class="customBtnGroup btn-group" data-toggle="buttons">
													<label class="btn btn-sm ink-reaction btn-default active">
														<input type="radio" name="options" id="option1" /> Yes
													</label>
													<label class="btn btn-sm ink-reaction btn-default">
														<input type="radio" name="options" id="option2" />No
													</label>
												</div>
						            		</div>
						            	</div>
							        </div>
								</fieldset>
							</div>
							<div class="cardActionBarForm card-actionbar">
								<div class="card-actionbar-row">
									<a class="cardActionBarBtn btn ink-reaction btn-raised btn-primary" href="javascript:void(0);">Save</a>
									<a class="cardActionBarBtn btn ink-reaction btn-raised btn-default" href="javascript:void(0);">Cancel</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>
</div><!--end #content-->

<!-- BEGIN JAVASCRIPT -->
<script th:src="@{/theme/material-admin/assets/js/libs/jquery/jquery-1.11.2.min.js}" src="../../static/theme/material-admin/assets/js/libs/jquery/jquery-1.11.2.min.js"></script>
<script th:src="@{/theme/material-admin/assets/js/libs/jquery/jquery-migrate-1.2.1.min.js}" src="../../static/theme/material-admin/assets/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
<script th:src="@{/theme/material-admin/assets/js/libs/bootstrap/bootstrap.min.js}" src="../../static/theme/material-admin/assets/js/libs/bootstrap/bootstrap.min.js"></script>
<script th:src="@{/theme/material-admin/assets/js/libs/spin.js/spin.min.js}" src="../../static/theme/material-admin/assets/js/libs/spin.js/spin.min.js"></script>
<script th:src="@{/theme/material-admin/assets/js/libs/autosize/jquery.autosize.min.js}" src="../../static/theme/material-admin/assets/js/libs/autosize/jquery.autosize.min.js"></script>
<script th:src="@{/theme/material-admin/assets/js/libs/nanoscroller/jquery.nanoscroller.min.js}" src="../../static/theme/material-admin/assets/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
<script th:src="@{/theme/material-admin/assets/js/core/source/App.js}" src="../../static/theme/material-admin/assets/js/core/source/App.js"></script>
<script th:src="@{/theme/material-admin/assets/js/core/source/AppNavigation.js}" src="../../static/theme/material-admin/assets/js/core/source/AppNavigation.js"></script>
<script th:src="@{/theme/material-admin/assets/js/core/source/AppOffcanvas.js}" src="../../static/theme/material-admin/assets/js/core/source/AppOffcanvas.js"></script>
<script th:src="@{/theme/material-admin/assets/js/core/source/AppCard.js}" src="../../static/theme/material-admin/assets/js/core/source/AppCard.js"></script>
<script th:src="@{/theme/material-admin/assets/js/core/source/AppForm.js}" src="../../static/theme/material-admin/assets/js/core/source/AppForm.js"></script>
<script th:src="@{/theme/material-admin/assets/js/core/source/AppNavSearch.js}" src="../../static/theme/material-admin/assets/js/core/source/AppNavSearch.js"></script>
<script th:src="@{/theme/material-admin/assets/js/core/source/AppVendor.js}" src="../../static/theme/material-admin/assets/js/core/source/AppVendor.js"></script>
<th:block th:fragment="scripts">
	<script th:src="@{/theme/material-admin/assets/js/libs/inputmask/jquery.inputmask.bundle.min.js}" src="../../theme/material-admin/assets/js/libs/inputmask/jquery.inputmask.bundle.min.js"></script>
	<script th:src="@{/theme/material-admin/assets/js/libs/bootstrap-datepicker/bootstrap-datepicker.js}" src="../../statuc/theme/material-admin/assets/js/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
	<script th:src="@{/theme/material-admin/assets/js/libs/moment/moment.min.js}" src="../../static/theme/assets/js/libs/moment/moment.min.js"></script>
	<script th:src="@{/theme/material-admin/assets/js/core/demo/Demo.js}" src="../../static/theme/assets/js/core/demo/Demo.js"></script>
	<script th:src="@{/theme/material-admin/assets/js/core/demo/DemoFormComponents.js}" src="../../static/theme/assets/js/core/demo/DemoFormComponents.js"></script>
</th:block>
<!-- END JAVASCRIPT -->
</body>
</html>