<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 
<head>
	<title th:fragment="title">VCT | List</title>
	
	<!-- BEGIN META -->
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="keywords" content="your,keywords"/>
	<meta name="description" content="Short explanation about this website"/>
	<!-- END META -->

	<!-- BEGIN STYLESHEETS -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/>
	<link type="text/css" rel="stylesheet" th:href="@{/theme/material-admin/assets/css/theme-default/bootstrap.css}" href="../../static/theme/material-admin/assets/css/theme-default/bootstrap.css" />
	<link type="text/css" rel="stylesheet" th:href="@{/theme/material-admin/assets/css/theme-default/materialadmin.css}" href="../../static/theme/material-admin/assets/css/theme-default/materialadmin.css" />
	<link type="text/css" rel="stylesheet" th:href="@{/theme/material-admin/assets/css/theme-default/font-awesome.min.css}" href="../../static/theme/material-admin/assets/css/theme-default/font-awesome.min.css" />
	<link type="text/css" rel="stylesheet" th:href="@{/theme/material-admin/assets/css/theme-default/material-design-iconic-font.min.css}" href="../../static/theme/material-admin/assets/css/theme-default/material-design-iconic-font.min.css" />
	<th:block th:fragment="styles">
		<link type="text/css" rel="stylesheet" th:href="@{/theme/material-admin/assets/css/theme-default/libs/DataTables/jquery.dataTables.css}" href="../../static/theme/material-admin/assets/css/theme-default/libs/DataTables/jquery.dataTables.css" />
		<link type="text/css" rel="stylesheet" th:href="@{/theme/material-admin/assets/css/theme-default/libs/DataTables/extensions/dataTables.colVis.css}" href="../../static/theme/material-admin/assets/css/theme-default/libs/DataTables/extensions/dataTables.colVis.css" />
		<link type="text/css" rel="stylesheet" th:href="@{/theme/material-admin/assets/css/theme-default/libs/DataTables/extensions/dataTables.tableTools.css}" href="../../static/theme/material-admin/assets/css/theme-default/libs/DataTables/extensions/dataTables.tableTools.css" />
	</th:block>
	<link type="text/css" rel="stylesheet" th:href="@{/css/site.css}" href="../../static/css/site.css" />
	<!-- END STYLESHEETS -->

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script type="text/javascript" th:src="@{/theme/material-admin/assets/js/libs/utils/html5shiv.js?1403934957"></script>
	<script type="text/javascript" th:src="@{/theme/material-admin/assets/js/libs/utils/respond.min.js?1403934956"></script>
	<![endif]-->
</head>
<body>
<div id="content" th:fragment="content">
	<section>
		<div class="section-body">
			<div class="card card-underline">
				<div class="card-head style-primary card-head-sm">
					<header class="text-normal">Search VCT Records</header>
					<div class="tools">
						<div class="btn-group">
							<a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
						</div>
					</div>
				</div>
				<div class="card-body noBottomPadding">
					<form class="form" autocomplete="off">
						<input type="hidden" id="contextPath" th:value="@{/}" />
						<div class="row">
                            <div class="col-md-4">
                              <div class="form-group">
                                <input id="vctName" name="vctName" type="text" class="form-control input-sm"/>
                                <label for="vctName">Name</label>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <input id="uniqueIdCode" name="uniqueIdCode" type="text" class="form-control input-sm"/>
                                <label for="uniqueIdCode">Unique Identifier Code</label>
                              </div>
                            </div>
							<div id="searchBtnDiv" class="col-md-4">
								<button id="searchBtn" type="button" class="normalBtn widerBtn btn ink-reaction btn-raised btn-primary btn-loading-state normalizeButton" data-loading-text="&lt;i class='fa fa-spinner fa-spin'&gt;&lt;/i&gt;  Loading...">
									<i class="md md-search"></i>
									<span class="btnLblWithIcon">Search</span>
								</button>
                                &nbsp;
                                <button id="clearBtn" type="button" class="normalBtn widerBtn btn ink-reaction btn-raised btn-default-bright btn-loading-state normalizeButton" data-loading-text="&lt;i class='fa fa-spinner fa-spin'&gt;&lt;/i&gt;  Loading...">
                                  <i class="md md-clear"></i>
                                  <span class="btnLblWithIcon">Clear</span>
                                </button>
							</div>
						</div>
					</form>
				</div>
			</div>					
		</div>
		
		<div class="section-body">
			<div class="card">
				<div class="card-body">
					<!-- BEGIN DATATABLE 1 -->
					<div class="row">
						<div class="col-lg-12">
							<a th:href="@{/vct/}" href="#" id="addVctBtn" type="button" class="btn ink-reaction btn-floating-action btn-primary btn-loading-state" data-loading-text="&lt;i class='fa fa-spinner fa-spin'&gt;&lt;/i&gt;" data-toggle="tooltip" data-placement="top" data-original-title="Create VCT record">
								<i class="fa fa-plus"></i>
							</a>
							<div class="table-responsive">
								<table id="vctDataTable" class="table table-striped table-hover">
									<thead>
										<tr>
											<th class="sort-alpha">Full Name</th>
											<th class="sort-alpha">Unique Identifier Code</th>
											<th>Birthdate</th>
											<th>Sex</th>
											<th class="actionsCol text-right">Update</th>
										</tr>
									</thead>
								</table>
							</div><!--end .table-responsive -->
						</div><!--end .col -->
					</div><!--end .row -->
					<!-- END DATATABLE 1 -->
				</div>
			</div>					
		</div>
	</section>
</div><!--end #content-->

<!-- BEGIN JAVASCRIPT -->
<script th:src="@{/theme/material-admin/assets/js/libs/jquery/jquery-1.11.2.min.js}" src="../../static/theme/material-admin/assets/js/libs/jquery/jquery-1.11.2.min.js"></script>
<script th:src="@{/theme/material-admin/assets/js/libs/jquery/jquery-migrate-1.2.1.min.js}" src="../../static/theme/material-admin/assets/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
<script th:src="@{/theme/material-admin/assets/js/libs/bootstrap/bootstrap.min.js}" src="../../static/theme/material-admin/assets/js/libs/bootstrap/bootstrap.min.js"></script>
<script th:src="@{/theme/material-admin/assets/js/libs/spin.js/spin.min.js}" src="../../static/theme/material-admin/assets/js/libs/spin.js/spin.min.js"></script>
<script th:src="@{/theme/material-admin/assets/js/libs/nanoscroller/jquery.nanoscroller.min.js}" src="../../static/theme/material-admin/assets/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
<script th:src="@{/theme/material-admin/assets/js/core/source/App.js}" src="../../static/theme/material-admin/assets/js/core/source/App.js"></script>
<script th:src="@{/theme/material-admin/assets/js/core/source/AppNavigation.js}" src="../../static/theme/material-admin/assets/js/core/source/AppNavigation.js"></script>
<script th:src="@{/theme/material-admin/assets/js/core/source/AppOffcanvas.js}" src="../../static/theme/material-admin/assets/js/core/source/AppOffcanvas.js"></script>
<script th:src="@{/theme/material-admin/assets/js/core/source/AppCard.js}" src="../../static/theme/material-admin/assets/js/core/source/AppCard.js"></script>
<script th:src="@{/theme/material-admin/assets/js/core/source/AppForm.js}" src="../../static/theme/material-admin/assets/js/core/source/AppForm.js"></script>
<script th:src="@{/theme/material-admin/assets/js/core/source/AppNavSearch.js}" src="../../static/theme/material-admin/assets/js/core/source/AppNavSearch.js"></script>
<script th:src="@{/theme/material-admin/assets/js/core/source/AppVendor.js}" src="../../static/theme/material-admin/assets/js/core/source/AppVendor.js"></script>
<th:block th:fragment="scripts">
	<script th:src="@{/theme/material-admin/assets/js/libs/DataTables/jquery.dataTables.min.js}" src="../../static/theme/material-admin/assets/js/libs/DataTables/jquery.dataTables.min.js"></script>
	<script th:src="@{/theme/material-admin/assets/js/libs/DataTables/extensions/ColVis/js/dataTables.colVis.min.js}" src="../../static/theme/material-admin/assets/js/libs/DataTables/extensions/ColVis/js/dataTables.colVis.min.js"></script>
	<script th:src="@{/theme/material-admin/assets/js/libs/DataTables/extensions/TableTools/js/dataTables.tableTools.min.js}" src="../../static/theme/material-admin/assets/js/libs/DataTables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
	<script th:src="@{/theme/material-admin/assets/js/core/demo/Demo.js}" src="../../static/theme/material-admin/assets/js/core/demo/Demo.js"></script>
	<script th:src="@{/js/vct/list.js}" src="../../static/js/vct/list.js"></script>	
</th:block>

<!-- END JAVASCRIPT -->
</body>
</html>