<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:fragment="title" th:text="${'Enrollment | ' + #strings.capitalizeWords(action)}">Enrollment | Record</title>

<!-- BEGIN META -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="keywords" content="your,keywords" />
<meta name="description" content="Short explanation about this website" />
<!-- END META -->

<!-- BEGIN STYLESHEETS -->
<link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900" />
<link type="text/css" rel="stylesheet" th:href="@{/theme/material-admin/assets/css/theme-default/bootstrap.css}" href="../../static/theme/material-admin/assets/css/theme-default/bootstrap.css" />
<link type="text/css" rel="stylesheet" th:href="@{/theme/material-admin/assets/css/theme-default/materialadmin.css}" href="../../static/theme/material-admin/assets/css/theme-default/materialadmin.css" />
<link type="text/css" rel="stylesheet" th:href="@{/theme/material-admin/assets/css/theme-default/font-awesome.min.css}" href="../../static/theme/material-admin/assets/css/theme-default/font-awesome.min.css" />
<link type="text/css" rel="stylesheet" th:href="@{/theme/material-admin/assets/css/theme-default/material-design-iconic-font.min.css}" href="../../static/theme/material-admin/assets/css/theme-default/material-design-iconic-font.min.css" />
<th:block th:fragment="styles">
  <link type="text/css" rel="stylesheet" th:href="@{/theme/material-admin/assets/css/theme-default/libs/bootstrap-datepicker/datepicker3.css}" href="../../static/theme/material-admin/assets/css/theme-default/libs/bootstrap-datepicker/datepicker3.css" />
  <link type="text/css" rel="stylesheet" th:href="@{/theme/material-admin/assets/css/theme-default/libs/select2/select2.css}" href="../../static/theme/material-admin/assets/css/theme-default/libs/select2/select2.css"/>
</th:block>
<link type="text/css" rel="stylesheet" th:href="@{/css/site.css}" href="../../static/css/site.css" />
<!-- END STYLESHEETS -->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<script type="text/javascript" th:src="@{/theme/material-admin/assets/js/libs/utils/html5shiv.js?1403934957"></script>
	<script type="text/javascript" th:src="@{/theme/material-admin/assets/js/libs/utils/respond.min.js?1403934956"></script>
	<![endif]-->
</head>
<body>
  <div id="content" th:fragment="content">
    <section>
      <div class="section-body">
        <form class="form form-validate" autocomplete="off" method="POST" th:object="${enrollmentDTO}" th:action="@{/enrollment/save}" role="form">
          <div class="row">
            <div class="col-md-12">
              <div class="card tabs-left style-default-light noBottomMargin enrollmentCard">
                <div class="card-head card-head-sm style-primary">
                  <header>Enrollment</header>
                </div>
                <ul class="card-head nav nav-tabs text-center" data-toggle="tabs">
                  <li class="active">
                    <a href="#demographics">
                      <i class="md-4x md-accessibility"></i>
                      <h4>Demographics<br/>
                        <small>Personal details</small>
                      </h4>
                    </a>
                  </li>
                  <li>
                    <a href="#clinicalAndImmunologic">
                      <i class="fa fa-stethoscope"></i>
                      <h4>Clinical &amp; <br/>Immunologic<br/>
                        <small>Profile</small>
                      </h4>
                    </a>
                  </li>
                  <li>
                    <a href="#third6">
                      <i class="md md-bug-report"></i>
                      <h4>Opportunistic <br/>Infections<br/>
                        <small>Profile</small>
                      </h4>
                    </a>
                  </li>
                  <li>
                    <a href="#fourth6">
                      <i class="fa fa-medkit"></i>
                      <h4>Medications<br/>
                        <small>Profile</small>
                      </h4>
                    </a>
                  </li>
                </ul>
                <div class="card-body tab-content style-default-bright">
                  <div id="demographics" class="tab-pane active" th:replace="enrollment/_demographics :: content"></div>
                  <div id="clinicalAndImmunologic" class="tab-pane" th:replace="enrollment/_clinical_and_immunologic :: content"></div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
  <!--end #content-->

  <!-- BEGIN JAVASCRIPT -->
  <script th:src="@{/theme/material-admin/assets/js/libs/jquery/jquery-1.11.2.min.js}" src="../../static/theme/material-admin/assets/js/libs/jquery/jquery-1.11.2.min.js"></script>
  <script th:src="@{/theme/material-admin/assets/js/libs/jquery/jquery-migrate-1.2.1.min.js}" src="../../static/theme/material-admin/assets/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
  <script th:src="@{/theme/material-admin/assets/js/libs/bootstrap/bootstrap.min.js}" src="../../static/theme/material-admin/assets/js/libs/bootstrap/bootstrap.min.js"></script>
  <script th:src="@{/theme/material-admin/assets/js/libs/spin.js/spin.min.js}" src="../../static/theme/material-admin/assets/js/libs/spin.js/spin.min.js"></script>
  <script th:src="@{/theme/material-admin/assets/js/libs/autosize/jquery.autosize.min.js}" src="../../static/theme/material-admin/assets/js/libs/autosize/jquery.autosize.min.js"></script>
  <script th:src="@{/theme/material-admin/assets/js/libs/nanoscroller/jquery.nanoscroller.min.js}" src="../../static/theme/material-admin/assets/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
  <script th:src="@{/theme/material-admin/assets/js/core/source/App.js}" src="../../static/theme/material-admin/assets/js/core/source/App.js"></script>
  <script th:src="@{/theme/material-admin/assets/js/core/source/AppNavigation.js}" src="../../static/theme/material-admin/assets/js/core/source/AppNavigation.js"></script>
  <script th:src="@{/theme/material-admin/assets/js/core/source/AppOffcanvas.js}" src="../../static/theme/material-admin/assets/js/core/source/AppOffcanvas.js"></script>
  <script th:src="@{/theme/material-admin/assets/js/core/source/AppCard.js}" src="../../static/theme/material-admin/assets/js/core/source/AppCard.js"></script>
  <script th:src="@{/theme/material-admin/assets/js/core/source/AppForm.js}" src="../../static/theme/material-admin/assets/js/core/source/AppForm.js"></script>
  <script th:src="@{/theme/material-admin/assets/js/core/source/AppNavSearch.js}" src="../../static/theme/material-admin/assets/js/core/source/AppNavSearch.js"></script>
  <script th:src="@{/theme/material-admin/assets/js/core/source/AppVendor.js}" src="../../static/theme/material-admin/assets/js/core/source/AppVendor.js"></script>
  <th:block th:fragment="scripts">
    <script th:src="@{/theme/material-admin/assets/js/libs/inputmask/jquery.inputmask.bundle.min.js}" src="../../static/theme/material-admin/assets/js/libs/inputmask/jquery.inputmask.bundle.min.js"></script>
    <script th:src="@{/theme/material-admin/assets/js/libs/bootstrap-datepicker/bootstrap-datepicker.js}" src="../../static/theme/material-admin/assets/js/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script th:src="@{/theme/material-admin/assets/js/core/demo/Demo.js}" src="../../static/theme/material-admin/assets/js/core/demo/Demo.js"></script>
    <script th:src="@{/theme/material-admin/assets/js/core/demo/DemoFormComponents.js}" src="../../static/theme/material-admin/assets/js/core/demo/DemoFormComponents.js"></script>
    <script th:src="@{/theme/material-admin/assets/js/libs/jquery-validation/dist/jquery.validate.min.js}" src="../../static/theme/material-admin/assets/js/libs/jquery-validation/dist/jquery.validate.min.js"></script>
    <script th:src="@{/theme/material-admin/assets/js/libs/jquery-validation/dist/additional-methods.min.js}" src="../../static/theme/material-admin/assets/js/libs/jquery-validation/dist/additional-methods.min.js"></script>
    <script th:src="@{/theme/material-admin/assets/js/libs/select2/select2.min.js}" src="../../static/theme/material-admin/assets/js/libs/select2/select2.min.js"></script>
    <script th:src="@{/js/enrollment/create.js}" src="../../static/js/enrollment/create.js"></script>
  </th:block>
  <!-- END JAVASCRIPT -->
</body>
</html>