<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1"/>
		<title th:text="#{msg.register}">Register</title>
	</head>
	<body>
		<form th:object="${user}" method="POST" enctype="utf-8">
			<label th:text="#{msg.email}">Email</label>
			<input type="text" placeholder="Email" th:field="*{email}" />
		
			<br/>
			<br/>
		
			<label th:text="#{msg.firstName}">First Name</label>
			<input type="text" placeholder="First Name" th:field="*{firstName}" />
			
			<br/>
			<br/>
			
			<label th:text="#{msg.middleName}">Middle Name</label>
			<input type="text" placeholder="Middle Name" th:field="*{middleName}" />
			
			<br/>
			<br/>
			
			<label th:text="#{msg.lastName}">Last Name</label>
			<input type="text" placeholder="Last Name" th:field="*{lastName}" />
			
			<br/>
			<br/>
			
			<label th:text="#{msg.password}">Password</label>
			<input type="password" placeholder="Password" th:field="*{password}" />
			
			<label th:text="#{msg.confirmPassword}">Confirm Password</label>
			<input type="password" placeholder="Confirm Password" th:field="*{confirmPassword}" />
			
			<br/>
			<br/>
			
			<input type="submit" name="action" value="Register" th:value="#{msg.register}" />
			<input type="button" value="Clear" th:value="#{msg.clear}" />
		</form>
	</body>
</html>