.errorField {
	border: 1px solid red;
}

.normalBtn {
	text-transform: none;
	font-size: 12px;
}

.widerBtn {
	padding-left: 25px;
	padding-right: 25px;
}

.btnLblWithIcon {
	margin-left: 5px;
}

.cardNoBottomPadding {
	padding-bottom: 0px;
}

.brand-holder div {
	display: inherit;
	height: 100%;
	line-height: 48px;
	padding-left: 5px;
}

#searchBtnDiv {
	padding-top: 12px;
	text-align: right;
}

/* VCT Datatable ============================================== */
.dataTables_wrapper {
	font-size: 12px;
	overflow: hidden;
}

.dataTables_length, 
.dataTables_info,
.dataTables_length select,
.dataTables_paginate {
	color: #909090 !important;
	font-size: 11px;
}

.dataTables_length select {
	font-size: 11px !important;
}

.table th.actionsCol {
	width: 45px;
}

#addVctBtn {
	position: absolute;
	right: 10px;
	top: -5px;
	z-index: 2;
	width: 50px;
	height: 50px;
	margin-bottom: 10px;
	
	transition: all 0.3s;
}

#addVctBtn i {
	line-height: 50px;
}

.updateVctBtn:hover {
	background-color: #F2F3F3 !important;
	box-shadow: 0px 5px 8px #AFB6B6;
	
	transition: all 0.5s;
}

/* Patient Information ============================================== */
.sexBtnGroup label.btn {
	text-transform: none;
}

.sexBtnGroup label.btn-default.active {
	color: #FFFFFF;
	background-color: #606060;
	border-color: #606060;
}

.help-block {
	font-size: 11px;
}