body {
	font-size: 12px;
}

.normalBtn {
	text-transform: none;
	font-size: 12px;
}

.widerBtn {
	padding-left: 25px;
	padding-right: 25px;
}

.btnLblWithIcon {
	margin-left: 5px;
}

.brand-holder div {
	display: inherit;
	height: 100%;
	line-height: 48px;
	padding-left: 5px;
}

#searchBtnDiv {
	padding-top: 12px;
	text-align: right;
}

fieldset span
fieldset label {
	opacity: 0.8;
}

.cardActionBarBtn {
	font-size: 13px;
	padding: 5px 15px;
	text-transform: none;
	margin-bottom: 5px;
	margin-left: 7px;
}

.cardActionBarForm {
	padding-top: 10px;
	border-top: 1px solid #E0E0E0;
	margin-top: 60px;
}

@media (min-width: 992px) {
	.noBottomPadding {
		padding-bottom: 0;
	}
	
	.noBottomMargin {
		margin-bottom: 0;
	}
}

textarea.customTextArea {
	resize: vertical;
}

#content .customAlertCallOut {
	color: #FF0000;
	box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.33);
}

/* VCT Datatable =========================================================== */
.dataTables_wrapper {
	font-size: 12px;
	overflow: hidden;
}

.dataTables_length, 
.dataTables_info,
.dataTables_length select,
.dataTables_paginate {
	color: #909090 !important;
	font-size: 11px;
}

.dataTables_length select {
	font-size: 11px !important;
}

.table th.actionsCol {
	width: 45px;
}

#addVctBtn {
	position: absolute;
	right: 10px;
	top: -5px;
	z-index: 2;
	width: 50px;
	height: 50px;
	margin-bottom: 10px;
	
	transition: all 0.3s;
}

#addVctBtn i {
	line-height: 50px;
}

.updateVctBtn {
	transition: all 0.5s;
}

.updateVctBtn:hover {
	background-color: #F2F3F3 !important;
	box-shadow: 0 5px 8px #AFB6B6;
	
	transition: all 0.5s;
}

/* Patient Information ===================================================== */
.customBtnGroup label.btn {
	text-transform: none;
}

.customBtnGroup label.btn-default.active {
	color: #FFFFFF;
	background-color: #606060;
	border-color: #606060;
}

.customBtnGroup > .btn:not(:first-child) {
	margin-left: 0px;
	border-left: 1px solid #CCCCCC;
}

.help-block {
	font-size: 11px;
}

fieldset.hivRisksFieldset div.checkbox span {
	font-size: 12px;
}

/* VCT Information ========================================================= */
div.subHivRisk {
	padding-left: 43px;
	font-size: 12px;
}

.subHivRiskBtnGroup {
	margin-left: 20px;
}

.hdn {
	display: none;
}

input[name='patient.hivRisks'] + span:not(.radioLabel) {
	display: none !important;
}

div.conditionalRow {
	display: none;
}

div.conditionalRow.active {
	display: block;
}