<!DOCTYPE html>
<html lang="en">
	<head>
		<title>HRMS | Home</title>

		<!-- BEGIN META -->
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="keywords" content="your,keywords"/>
		<meta name="description" content="Short explanation about this website"/>
		<!-- END META -->

		<!-- BEGIN STYLESHEETS -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/>
		<link type="text/css" rel="stylesheet" href="/theme/material-admin/assets/css/theme-default/bootstrap.css?1422792965" />
		<link type="text/css" rel="stylesheet" href="/theme/material-admin/assets/css/theme-default/materialadmin.css?1425466319" />
		<link type="text/css" rel="stylesheet" href="/theme/material-admin/assets/css/theme-default/font-awesome.min.css?1422529194" />
		<link type="text/css" rel="stylesheet" href="/theme/material-admin/assets/css/theme-default/material-design-iconic-font.min.css?1421434286" />
		<link type="text/css" rel="stylesheet" href="/theme/material-admin/assets/css/theme-default/libs/DataTables/jquery.dataTables.css?1423553989" />
		<link type="text/css" rel="stylesheet" href="/theme/material-admin/assets/css/theme-default/libs/DataTables/extensions/dataTables.colVis.css?1423553990" />
		<link type="text/css" rel="stylesheet" href="/theme/material-admin/assets/css/theme-default/libs/DataTables/extensions/dataTables.tableTools.css?1423553990" />
		
		<link type="text/css" rel="stylesheet" href="/css/site.css" />
		<!-- END STYLESHEETS -->

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script type="text/javascript" src="/theme/material-admin/assets/js/libs/utils/html5shiv.js?1403934957"></script>
		<script type="text/javascript" src="/theme/material-admin/assets/js/libs/utils/respond.min.js?1403934956"></script>
		<![endif]-->
	</head>
	<body class="menubar-hoverable header-fixed menubar-pin ">

		<!-- BEGIN HEADER-->
		<header id="header" >
			<div class="headerbar">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="headerbar-left">
					<ul class="header-nav header-nav-options">
						<li class="header-nav-brand" >
							<div class="brand-holder">
								<a href="javascript:void(0);">
									<img src="/img/clmmrh_logo.png" alt="" />
								</a>
								<div>
									<a href="/home">
										<span class="text-lg text-bold text-primary">CLMMRH HRMS</span>
									</a>
								</div>
							</div>
						</li>
						<li>
							<a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
								<i class="fa fa-bars"></i>
							</a>
						</li>
					</ul>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="headerbar-right">
					<ul class="header-nav header-nav-profile">
						<li class="dropdown">
							<a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
								<img src="http://img07.deviantart.net/c887/i/2008/208/9/4/gregory_house_m_d__by_zootcadillac.jpg" alt="" />
								<span class="profile-info">
									Gregory House
									<small>Administrator</small>
								</span>
							</a>
							<ul class="dropdown-menu animation-dock">
								<li class="dropdown-header">Config</li>
								<li><a href="/theme/material-admin/html/pages/profile.html">My profile</a></li>
								<li class="divider"></li>
								<li><a href="/login"><i class="fa fa-fw fa-power-off text-danger"></i> Logout</a></li>
							</ul><!--end .dropdown-menu -->
						</li><!--end .dropdown -->
					</ul><!--end .header-nav-profile -->
				</div><!--end #header-navbar-collapse -->
			</div>
		</header>
		<!-- END HEADER-->

		<!-- BEGIN BASE-->
		<div id="base">

			<!-- BEGIN OFFCANVAS LEFT -->
			<div class="offcanvas">
			</div><!--end .offcanvas-->
			<!-- END OFFCANVAS LEFT -->

			<!-- BEGIN CONTENT-->
			<div id="content">

				<!-- BEGIN BLANK SECTION -->
				<section>
					<!-- <div class="section-header">
						<ol class="breadcrumb">
							<li><a href="/home">home</a></li>
							<li class="active">Patient List</li>
						</ol>
					</div> --><!--end .section-header -->
					<div class="section-body">
						<div class="card card-underline">
							<div class="card-head style-primary card-head-sm">
								<header class="text-normal">Search Patients</header>
								<div class="tools">
									<div class="btn-group">
										<a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
									</div>
								</div>
							</div>
							<div class="card-body cardNoBottomPadding">
								<form class="form" autocomplete="off">
									<div class="row">
										<div class="col-md-2">
											<div class="form-group">
												<input type="text" class="form-control input-sm"/>
												<label for="codeName">Code name</label>
											</div>
										</div>
										<div class="col-md-2">
											<div class="form-group">
												<input type="text" class="form-control input-sm"/>
												<label for="sacclCode">SACCL code</label>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<input type="text" class="form-control input-sm"/>
												<label for="firstName">First name</label>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<input type="text" class="form-control input-sm"/>
												<label for="lastName">Last name</label>
											</div>
										</div>
										<div id="searchBtnDiv" class="col-md-2">
											<button type="button" class="normalBtn widerBtn btn ink-reaction btn-raised btn-default-bright normalizeButton">
												<i class="fa fa-search"></i>
												<span class="btnLblWithIcon">Search</span>
											</button>
										</div>
									</div>
								</form>
							</div>
						</div>					
					</div>
					
					<div class="section-body">
						<div class="card">
							<div class="card-body">
								<!-- BEGIN DATATABLE 1 -->
								<div class="row">
									<div class="col-lg-12">
										<div class="table-responsive">
											<table id="datatable1" class="table table-striped table-hover">
												<thead>
													<tr>
														<th>Rendering engine</th>
														<th>Browser</th>
														<th>Platform(s)</th>
														<th class="sort-numeric">Engine version</th>
														<th class="sort-alpha">CSS grade</th>
													</tr>
												</thead>
												<tbody>
													<tr class="gradeX">
														<td>Trident</td>
														<td>Internet Explorer 4.0</td>
														<td>Win 95+</td>
														<td>4</td>
														<td>X</td>
													</tr>
													<tr class="gradeC">
														<td>Trident</td>
														<td>Internet Explorer 5.0</td>
														<td>Win 95+</td>
														<td>5</td>
														<td>C</td>
													</tr>
													<tr class="gradeA">
														<td>Trident</td>
														<td>Internet Explorer 5.5</td>
														<td>Win 95+</td>
														<td>5.5</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>Trident</td>
														<td>Internet Explorer 6</td>
														<td>Win 98+</td>
														<td>6</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>Trident</td>
														<td>Internet Explorer 7</td>
														<td>Win XP SP2+</td>
														<td>7</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>Trident</td>
														<td>AOL browser (AOL desktop)</td>
														<td>Win XP</td>
														<td>6</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>Gecko</td>
														<td>Firefox 1.0</td>
														<td>Win 98+ / OSX.2+</td>
														<td>1.7</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>Gecko</td>
														<td>Firefox 1.5</td>
														<td>Win 98+ / OSX.2+</td>
														<td>1.8</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>Gecko</td>
														<td>Firefox 2.0</td>
														<td>Win 98+ / OSX.2+</td>
														<td>1.8</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>Gecko</td>
														<td>Firefox 3.0</td>
														<td>Win 2k+ / OSX.3+</td>
														<td>1.9</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>Gecko</td>
														<td>Camino 1.0</td>
														<td>OSX.2+</td>
														<td>1.8</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>Gecko</td>
														<td>Camino 1.5</td>
														<td>OSX.3+</td>
														<td>1.8</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>Gecko</td>
														<td>Netscape 7.2</td>
														<td>Win 95+ / Mac OS 8.6-9.2</td>
														<td>1.7</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>Gecko</td>
														<td>Netscape Browser 8</td>
														<td>Win 98SE+</td>
														<td>1.7</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>Gecko</td>
														<td>Netscape Navigator 9</td>
														<td>Win 98+ / OSX.2+</td>
														<td>1.8</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>Gecko</td>
														<td>Mozilla 1.0</td>
														<td>Win 95+ / OSX.1+</td>
														<td>1</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>Gecko</td>
														<td>Mozilla 1.1</td>
														<td>Win 95+ / OSX.1+</td>
														<td>1.1</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>Gecko</td>
														<td>Mozilla 1.2</td>
														<td>Win 95+ / OSX.1+</td>
														<td>1.2</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>Gecko</td>
														<td>Mozilla 1.3</td>
														<td>Win 95+ / OSX.1+</td>
														<td>1.3</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>Gecko</td>
														<td>Mozilla 1.4</td>
														<td>Win 95+ / OSX.1+</td>
														<td>1.4</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>Gecko</td>
														<td>Mozilla 1.5</td>
														<td>Win 95+ / OSX.1+</td>
														<td>1.5</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>Gecko</td>
														<td>Mozilla 1.6</td>
														<td>Win 95+ / OSX.1+</td>
														<td>1.6</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>Gecko</td>
														<td>Mozilla 1.7</td>
														<td>Win 98+ / OSX.1+</td>
														<td>1.7</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>Gecko</td>
														<td>Mozilla 1.8</td>
														<td>Win 98+ / OSX.1+</td>
														<td>1.8</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>Gecko</td>
														<td>Seamonkey 1.1</td>
														<td>Win 98+ / OSX.2+</td>
														<td>1.8</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>Gecko</td>
														<td>Epiphany 2.20</td>
														<td>Gnome</td>
														<td>1.8</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>Webkit</td>
														<td>Safari 1.2</td>
														<td>OSX.3</td>
														<td>125.5</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>Webkit</td>
														<td>Safari 1.3</td>
														<td>OSX.3</td>
														<td>312.8</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>Webkit</td>
														<td>Safari 2.0</td>
														<td>OSX.4+</td>
														<td>419.3</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>Webkit</td>
														<td>Safari 3.0</td>
														<td>OSX.4+</td>
														<td>522.1</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>Webkit</td>
														<td>OmniWeb 5.5</td>
														<td>OSX.4+</td>
														<td>420</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>Webkit</td>
														<td>iPod Touch / iPhone</td>
														<td>iPod</td>
														<td>420.1</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>Webkit</td>
														<td>S60</td>
														<td>S60</td>
														<td>413</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>Presto</td>
														<td>Opera 7.0</td>
														<td>Win 95+ / OSX.1+</td>
														<td>-</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>Presto</td>
														<td>Opera 7.5</td>
														<td>Win 95+ / OSX.2+</td>
														<td>-</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>Presto</td>
														<td>Opera 8.0</td>
														<td>Win 95+ / OSX.2+</td>
														<td>-</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>Presto</td>
														<td>Opera 8.5</td>
														<td>Win 95+ / OSX.2+</td>
														<td>-</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>Presto</td>
														<td>Opera 9.0</td>
														<td>Win 95+ / OSX.3+</td>
														<td>-</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>Presto</td>
														<td>Opera 9.2</td>
														<td>Win 88+ / OSX.3+</td>
														<td>-</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>Presto</td>
														<td>Opera 9.5</td>
														<td>Win 88+ / OSX.3+</td>
														<td>-</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>Presto</td>
														<td>Opera for Wii</td>
														<td>Wii</td>
														<td>-</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>Presto</td>
														<td>Nokia N800</td>
														<td>N800</td>
														<td>-</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>Presto</td>
														<td>Nintendo DS browser</td>
														<td>Nintendo DS</td>
														<td>8.5</td>
														<td>C/A<sup>1</sup></td>
													</tr>
													<tr class="gradeC">
														<td>KHTML</td>
														<td>Konqureror 3.1</td>
														<td>KDE 3.1</td>
														<td>3.1</td>
														<td>C</td>
													</tr>
													<tr class="gradeA">
														<td>KHTML</td>
														<td>Konqureror 3.3</td>
														<td>KDE 3.3</td>
														<td>3.3</td>
														<td>A</td>
													</tr>
													<tr class="gradeA">
														<td>KHTML</td>
														<td>Konqureror 3.5</td>
														<td>KDE 3.5</td>
														<td>3.5</td>
														<td>A</td>
													</tr>
													<tr class="gradeX">
														<td>Tasman</td>
														<td>Internet Explorer 4.5</td>
														<td>Mac OS 8-9</td>
														<td>-</td>
														<td>X</td>
													</tr>
													<tr class="gradeC">
														<td>Tasman</td>
														<td>Internet Explorer 5.1</td>
														<td>Mac OS 7.6-9</td>
														<td>1</td>
														<td>C</td>
													</tr>
													<tr class="gradeC">
														<td>Tasman</td>
														<td>Internet Explorer 5.2</td>
														<td>Mac OS 8-X</td>
														<td>1</td>
														<td>C</td>
													</tr>
													<tr class="gradeA">
														<td>Misc</td>
														<td>NetFront 3.1</td>
														<td>Embedded devices</td>
														<td>-</td>
														<td>C</td>
													</tr>
													<tr class="gradeA">
														<td>Misc</td>
														<td>NetFront 3.4</td>
														<td>Embedded devices</td>
														<td>-</td>
														<td>A</td>
													</tr>
													<tr class="gradeX">
														<td>Misc</td>
														<td>Dillo 0.8</td>
														<td>Embedded devices</td>
														<td>-</td>
														<td>X</td>
													</tr>
													<tr class="gradeX">
														<td>Misc</td>
														<td>Links</td>
														<td>Text only</td>
														<td>-</td>
														<td>X</td>
													</tr>
													<tr class="gradeX">
														<td>Misc</td>
														<td>Lynx</td>
														<td>Text only</td>
														<td>-</td>
														<td>X</td>
													</tr>
													<tr class="gradeC">
														<td>Misc</td>
														<td>IE Mobile</td>
														<td>Windows Mobile 6</td>
														<td>-</td>
														<td>C</td>
													</tr>
													<tr class="gradeC">
														<td>Misc</td>
														<td>PSP browser</td>
														<td>PSP</td>
														<td>-</td>
														<td>C</td>
													</tr>
													<tr class="gradeU">
														<td>Other browsers</td>
														<td>All others</td>
														<td>-</td>
														<td>-</td>
														<td>U</td>
													</tr>
												</tbody>
											</table>
										</div><!--end .table-responsive -->
									</div><!--end .col -->
								</div><!--end .row -->
								<!-- END DATATABLE 1 -->
							</div>
						</div>					
					</div>
				</section>

				<!-- BEGIN BLANK SECTION -->
			</div><!--end #content-->
			<!-- END CONTENT -->

			<!-- BEGIN MENUBAR-->
			<div id="menubar" class="menubar-inverse">
				<div class="menubar-scroll-panel">

					<!-- BEGIN MAIN MENU -->
					<ul id="main-menu" class="gui-controls">

						<!-- BEGIN DASHBOARD -->
						<li>
							<a href="/home" >
								<div class="gui-icon"><i class="md md-home"></i></div>
								<span class="title">Home</span>
							</a>
						</li><!--end /menu-li -->
						<!-- END DASHBOARD -->

						<!-- BEGIN RECORDS -->
						<li class="gui-folder expanded">
							<a>
								<div class="gui-icon"><i class="md md-face-unlock"></i></div>
								<span class="title">Records</span>
							</a>
							<ul>
								<li><a href="#"><span class="title">List / Search</span></a></li>
								<li class="gui-folder expanded">
									<a href="#"><span class="title">Create New Record</span></a>
									<ul>
										<li><a href="#"><span class="title">VCT</span></a></li>
										<li><a href="#"><span class="title">Enrollment</span></a></li>
									</ul>
								</li>
							</ul>
						</li><!--end /menu-li -->
						<!-- END RECORDS -->
						
						<!-- BEGIN INVENTORY OF STOCKS -->
						<li class="gui-folder expanded">
							<a>
								<div class="gui-icon"><i class="md md-assignment"></i></div>
								<span class="title">Inventory of Stocks</span>
							</a>
							<ul>
								<li><a href="#"><span class="title">List / Search</span></a></li>
								<li><a href="#"><span class="title">Add New</span></a></li>
							</ul>
						</li><!--end /menu-li -->
						<!-- END INVENTORY OF STOCKS -->
						
						<!-- BEGIN REPORTS -->
						<li class="gui-folder">
							<a>
								<div class="gui-icon"><i class="md md-assessment"></i></div>
								<span class="title">Reports</span>
							</a>
							<ul>
								<li><a href="#"><span class="title">HCT Daily Registry</span></a></li>
								<li><a href="#"><span class="title">HCT Monthly Report</span></a></li>
								<li><a href="#"><span class="title">Monthly ART Registry</span></a></li>
								<li><a href="#"><span class="title">HIV Care Monthly Report</span></a></li>
								<li><a href="#"><span class="title">Pharmacy Inventory Report</span></a></li>
								<li><a href="#"><span class="title">HIV Statistic Monthly Report</span></a></li>
								<li><a href="#"><span class="title">Client Master List</span></a></li>
							</ul>
						</li><!--end /menu-li -->
						<!-- END REPORTS -->

					</ul><!--end .main-menu -->
					<!-- END MAIN MENU -->

					<div class="menubar-foot-panel">
						<small class="no-linebreak hidden-folded">
							<span class="opacity-75">Copyright &copy; 2015</span> | <a href="http://rey.libutan.com" target="blank"><strong>Rey Libutan</strong></a>
						</small>
					</div>
				</div><!--end .menubar-scroll-panel-->
			</div><!--end #menubar-->
			<!-- END MENUBAR -->

			<!-- BEGIN OFFCANVAS RIGHT -->
			<div class="offcanvas">
			</div><!--end .offcanvas-->
			<!-- END OFFCANVAS RIGHT -->

		</div><!--end #base-->
		<!-- END BASE -->

		<!-- BEGIN JAVASCRIPT -->
		<script src="/theme/material-admin/assets/js/libs/jquery/jquery-1.11.2.min.js"></script>
		<script src="/theme/material-admin/assets/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
		<script src="/theme/material-admin/assets/js/libs/bootstrap/bootstrap.min.js"></script>
		<script src="/theme/material-admin/assets/js/libs/spin.js/spin.min.js"></script>
		<script src="/theme/material-admin/assets/js/libs/autosize/jquery.autosize.min.js"></script>
		<script src="/theme/material-admin/assets/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
		<script src="/theme/material-admin/assets/js/core/source/App.js"></script>
		<script src="/theme/material-admin/assets/js/core/source/AppNavigation.js"></script>
		<script src="/theme/material-admin/assets/js/core/source/AppOffcanvas.js"></script>
		<script src="/theme/material-admin/assets/js/core/source/AppCard.js"></script>
		<script src="/theme/material-admin/assets/js/core/source/AppForm.js"></script>
		<script src="/theme/material-admin/assets/js/core/source/AppNavSearch.js"></script>
		<script src="/theme/material-admin/assets/js/core/source/AppVendor.js"></script>
		<script src="/theme/material-admin/assets/js/libs/DataTables/jquery.dataTables.min.js"></script>
		<script src="/theme/material-admin/assets/js/libs/DataTables/extensions/ColVis/js/dataTables.colVis.min.js"></script>
		<script src="/theme/material-admin/assets/js/libs/DataTables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
		<script src="/theme/material-admin/assets/js/core/demo/Demo.js"></script>
		<script src="/theme/material-admin/assets/js/core/demo/DemoTableDynamic.js"></script>
		<!-- END JAVASCRIPT -->
	</body>
</html>