<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Material Admin - Blank page</title>

		<!-- BEGIN META -->
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="keywords" content="your,keywords"/>
		<meta name="description" content="Short explanation about this website"/>
		<!-- END META -->

		<!-- BEGIN STYLESHEETS -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/>
		<link type="text/css" rel="stylesheet" href="/theme/material-admin/assets/css/theme-default/bootstrap.css?1422792965" />
		<link type="text/css" rel="stylesheet" href="/theme/material-admin/assets/css/theme-default/materialadmin.css?1425466319" />
		<link type="text/css" rel="stylesheet" href="/theme/material-admin/assets/css/theme-default/font-awesome.min.css?1422529194" />
		<link type="text/css" rel="stylesheet" href="/theme/material-admin/assets/css/theme-default/material-design-iconic-font.min.css?1421434286" />
		<link type="text/css" rel="stylesheet" href="/css/site.css" />
		<!-- END STYLESHEETS -->

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script type="text/javascript" src="/theme/material-admin/assets/js/libs/utils/html5shiv.js?1403934957"></script>
		<script type="text/javascript" src="/theme/material-admin/assets/js/libs/utils/respond.min.js?1403934956"></script>
		<![endif]-->
	</head>
	<body class="menubar-hoverable header-fixed menubar-pin ">

		<!-- BEGIN HEADER-->
		<header id="header" >
			<div class="headerbar">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="headerbar-left">
					<ul class="header-nav header-nav-options">
						<li class="header-nav-brand" >
							<div class="brand-holder">
								<a href="javascript:void(0);">
									<img src="/img/clmmrh_logo.png" alt="" />
								</a>
								<div>
									<a href="/home">
										<span class="text-lg text-bold text-primary">CLMMRH HRMS</span>
									</a>
								</div>
							</div>
						</li>
						<li>
							<a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
								<i class="fa fa-bars"></i>
							</a>
						</li>
					</ul>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="headerbar-right">
					<ul class="header-nav header-nav-profile">
						<li class="dropdown">
							<a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
								<img src="http://img07.deviantart.net/c887/i/2008/208/9/4/gregory_house_m_d__by_zootcadillac.jpg" alt="" />
								<span class="profile-info">
									Gregory House
									<small>Administrator</small>
								</span>
							</a>
							<ul class="dropdown-menu animation-dock">
								<li class="dropdown-header">Config</li>
								<li><a href="/theme/material-admin/html/pages/profile.html">My profile</a></li>
								<li class="divider"></li>
								<li><a href="/login"><i class="fa fa-fw fa-power-off text-danger"></i> Logout</a></li>
							</ul><!--end .dropdown-menu -->
						</li><!--end .dropdown -->
					</ul><!--end .header-nav-profile -->
				</div><!--end #header-navbar-collapse -->
			</div>
		</header>
		<!-- END HEADER-->

		<!-- BEGIN BASE-->
		<div id="base">

			<!-- BEGIN OFFCANVAS LEFT -->
			<div class="offcanvas">
			</div><!--end .offcanvas-->
			<!-- END OFFCANVAS LEFT -->

			<!-- BEGIN CONTENT-->
			<div id="content">

				<!-- BEGIN BLANK SECTION -->
				<section>
					<div class="section-header">
						<ol class="breadcrumb">
							<li><a href="/home">home</a></li>
							<li class="active">Blank page</li>
						</ol>
					</div><!--end .section-header -->
					<div class="section-body">
					</div><!--end .section-body -->
				</section>

				<!-- BEGIN BLANK SECTION -->
			</div><!--end #content-->
			<!-- END CONTENT -->

			<!-- BEGIN MENUBAR-->
			<div id="menubar" class="menubar-inverse">
				<div class="menubar-scroll-panel">

					<!-- BEGIN MAIN MENU -->
					<ul id="main-menu" class="gui-controls">

						<!-- BEGIN DASHBOARD -->
						<li>
							<a href="/home" >
								<div class="gui-icon"><i class="md md-home"></i></div>
								<span class="title">Home</span>
							</a>
						</li><!--end /menu-li -->
						<!-- END DASHBOARD -->

						<!-- BEGIN EMAIL -->
						<li class="gui-folder">
							<a>
								<div class="gui-icon"><i class="md md-email"></i></div>
								<span class="title">Email</span>
							</a>
							<!--start submenu -->
							<ul>
								<li><a href="/theme/material-admin/html/mail/inbox.html" ><span class="title">Inbox</span></a></li>
								<li><a href="/theme/material-admin/html/mail/compose.html" ><span class="title">Compose</span></a></li>
								<li><a href="/theme/material-admin/html/mail/reply.html" ><span class="title">Reply</span></a></li>
								<li><a href="/theme/material-admin/html/mail/message.html" ><span class="title">View message</span></a></li>
							</ul><!--end /submenu -->
						</li><!--end /menu-li -->
						<!-- END EMAIL -->

						<!-- BEGIN DASHBOARD -->
						<li>
							<a href="/theme/material-admin/html/layouts/builder.html" >
								<div class="gui-icon"><i class="md md-web"></i></div>
								<span class="title">Layouts</span>
							</a>
						</li><!--end /menu-li -->
						<!-- END DASHBOARD -->

						<!-- BEGIN UI -->
						<li class="gui-folder">
							<a>
								<div class="gui-icon"><i class="fa fa-puzzle-piece fa-fw"></i></div>
								<span class="title">UI elements</span>
							</a>
							<!--start submenu -->
							<ul>
								<li><a href="/theme/material-admin/html/ui/colors.html" ><span class="title">Colors</span></a></li>
								<li><a href="/theme/material-admin/html/ui/typography.html" ><span class="title">Typography</span></a></li>
								<li><a href="/theme/material-admin/html/ui/cards.html" ><span class="title">Cards</span></a></li>
								<li><a href="/theme/material-admin/html/ui/buttons.html" ><span class="title">Buttons</span></a></li>
								<li><a href="/theme/material-admin/html/ui/lists.html" ><span class="title">Lists</span></a></li>
								<li><a href="/theme/material-admin/html/ui/tabs.html" ><span class="title">Tabs</span></a></li>
								<li><a href="/theme/material-admin/html/ui/accordions.html" ><span class="title">Accordions</span></a></li>
								<li><a href="/theme/material-admin/html/ui/messages.html" ><span class="title">Messages</span></a></li>
								<li><a href="/theme/material-admin/html/ui/offcanvas.html" ><span class="title">Off-canvas</span></a></li>
								<li><a href="/theme/material-admin/html/ui/grid.html" ><span class="title">Grid</span></a></li>
								<li class="gui-folder">
									<a href="javascript:void(0);">
										<span class="title">Icons</span>
									</a>
									<!--start submenu -->
									<ul>
										<li><a href="/theme/material-admin/html/ui/icons/materialicons.html" ><span class="title">Material Design Icons</span></a></li>
										<li><a href="/theme/material-admin/html/ui/icons/fontawesome.html" ><span class="title">Font Awesome</span></a></li>
										<li><a href="/theme/material-admin/html/ui/icons/glyphicons.html" ><span class="title">Glyphicons</span></a></li>
										<li><a href="/theme/material-admin/html/ui/icons/skycons.html" ><span class="title">Skycons</span></a></li>
									</ul><!--end /submenu -->
								</li><!--end /menu-li -->
							</ul><!--end /submenu -->
						</li><!--end /menu-li -->
						<!-- END UI -->

						<!-- BEGIN TABLES -->
						<li class="gui-folder">
							<a>
								<div class="gui-icon"><i class="fa fa-table"></i></div>
								<span class="title">Tables</span>
							</a>
							<!--start submenu -->
							<ul>
								<li><a href="/theme/material-admin/html/tables/static.html" ><span class="title">Static Tables</span></a></li>
								<li><a href="/theme/material-admin/html/tables/dynamic.html" ><span class="title">Dynamic Tables</span></a></li>
								<li><a href="/theme/material-admin/html/tables/responsive.html" ><span class="title">Responsive Table</span></a></li>
							</ul><!--end /submenu -->
						</li><!--end /menu-li -->
						<!-- END TABLES -->

						<!-- BEGIN FORMS -->
						<li class="gui-folder">
							<a>
								<div class="gui-icon"><span class="glyphicon glyphicon-list-alt"></span></div>
								<span class="title">Forms</span>
							</a>
							<!--start submenu -->
							<ul>
								<li><a href="/theme/material-admin/html/forms/basic.html" ><span class="title">Form basic</span></a></li>
								<li><a href="/theme/material-admin/html/forms/advanced.html" ><span class="title">Form advanced</span></a></li>
								<li><a href="/theme/material-admin/html/forms/layouts.html" ><span class="title">Form layouts</span></a></li>
								<li><a href="/theme/material-admin/html/forms/editors.html" ><span class="title">Editors</span></a></li>
								<li><a href="/theme/material-admin/html/forms/validation.html" ><span class="title">Form validation</span></a></li>
								<li><a href="/theme/material-admin/html/forms/wizard.html" ><span class="title">Form wizard</span></a></li>
							</ul><!--end /submenu -->
						</li><!--end /menu-li -->
						<!-- END FORMS -->

						<!-- BEGIN CHARTS -->
						<li>
							<a href="/theme/material-admin/html/charts/charts.html" >
								<div class="gui-icon"><i class="md md-assessment"></i></div>
								<span class="title">Charts</span>
							</a>
						</li><!--end /menu-li -->
						<!-- END CHARTS -->

						<!-- BEGIN LEVELS -->
						<li class="gui-folder">
							<a>
								<div class="gui-icon"><i class="fa fa-folder-open fa-fw"></i></div>
								<span class="title">Menu levels demo</span>
							</a>
							<!--start submenu -->
							<ul>
								<li><a href="#"><span class="title">Item 1</span></a></li>
								<li><a href="#"><span class="title">Item 1</span></a></li>
								<li class="gui-folder">
									<a href="javascript:void(0);">
										<span class="title">Open level 2</span>
									</a>
									<!--start submenu -->
									<ul>
										<li><a href="#"><span class="title">Item 2</span></a></li>
										<li class="gui-folder">
											<a href="javascript:void(0);">
												<span class="title">Open level 3</span>
											</a>
											<!--start submenu -->
											<ul>
												<li><a href="#"><span class="title">Item 3</span></a></li>
												<li><a href="#"><span class="title">Item 3</span></a></li>
												<li class="gui-folder">
													<a href="javascript:void(0);">
														<span class="title">Open level 4</span>
													</a>
													<!--start submenu -->
													<ul>
														<li><a href="#"><span class="title">Item 4</span></a></li>
														<li class="gui-folder">
															<a href="javascript:void(0);">
																<span class="title">Open level 5</span>
															</a>
															<!--start submenu -->
															<ul>
																<li><a href="#"><span class="title">Item 5</span></a></li>
																<li><a href="#"><span class="title">Item 5</span></a></li>
															</ul><!--end /submenu -->
														</li><!--end /submenu-li -->
													</ul><!--end /submenu -->
												</li><!--end /submenu-li -->
											</ul><!--end /submenu -->
										</li><!--end /submenu-li -->
									</ul><!--end /submenu -->
								</li><!--end /submenu-li -->
							</ul><!--end /submenu -->
						</li><!--end /menu-li -->
						<!-- END LEVELS -->

					</ul><!--end .main-menu -->
					<!-- END MAIN MENU -->

					<div class="menubar-foot-panel">
						<small class="no-linebreak hidden-folded">
							<span class="opacity-75">Copyright &copy; 2015</span> | <a href="http://rey.libutan.com" target="blank"><strong>Rey Libutan</strong></a>
						</small>
					</div>
				</div><!--end .menubar-scroll-panel-->
			</div><!--end #menubar-->
			<!-- END MENUBAR -->

			<!-- BEGIN OFFCANVAS RIGHT -->
			<div class="offcanvas">
			</div><!--end .offcanvas-->
			<!-- END OFFCANVAS RIGHT -->

		</div><!--end #base-->
		<!-- END BASE -->

		<!-- BEGIN JAVASCRIPT -->
		<script src="/theme/material-admin/assets/js/libs/jquery/jquery-1.11.2.min.js"></script>
		<script src="/theme/material-admin/assets/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
		<script src="/theme/material-admin/assets/js/libs/bootstrap/bootstrap.min.js"></script>
		<script src="/theme/material-admin/assets/js/libs/spin.js/spin.min.js"></script>
		<script src="/theme/material-admin/assets/js/libs/autosize/jquery.autosize.min.js"></script>
		<script src="/theme/material-admin/assets/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
		<script src="/theme/material-admin/assets/js/core/source/App.js"></script>
		<script src="/theme/material-admin/assets/js/core/source/AppNavigation.js"></script>
		<script src="/theme/material-admin/assets/js/core/source/AppOffcanvas.js"></script>
		<script src="/theme/material-admin/assets/js/core/source/AppCard.js"></script>
		<script src="/theme/material-admin/assets/js/core/source/AppForm.js"></script>
		<script src="/theme/material-admin/assets/js/core/source/AppNavSearch.js"></script>
		<script src="/theme/material-admin/assets/js/core/source/AppVendor.js"></script>
		<script src="/theme/material-admin/assets/js/core/demo/Demo.js"></script>
		<!-- END JAVASCRIPT -->
	</body>
</html>