<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<title>HRMS | Login</title>

		<!-- BEGIN META -->
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="keywords" content="your,keywords"/>
		<meta name="description" content="Short explanation about this website"/>

		<!-- BEGIN STYLESHEETS -->
		<link rel="icon" th:href="@{/img/favicon.ico}" href="../static/img/favicon.ico" type="image/x-icon"/>
		<link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/>
		<link type="text/css" rel="stylesheet" th:href="@{/theme/material-admin/assets/css/theme-default/bootstrap.css}" href="../static/theme/material-admin/assets/css/theme-default/bootstrap.css" />
		<link type="text/css" rel="stylesheet" th:href="@{/theme/material-admin/assets/css/theme-default/materialadmin.css}" href="../static/theme/material-admin/assets/css/theme-default/materialadmin.css" />
		<link type="text/css" rel="stylesheet" th:href="@{/theme/material-admin/assets/css/theme-default/font-awesome.min.css}" href="../static/theme/material-admin/assets/css/theme-default/font-awesome.min.css" />
		<link type="text/css" rel="stylesheet" th:href="@{/theme/material-admin/assets/css/theme-default/material-design-iconic-font.min.css}" href="../static/theme/material-admin/assets/css/theme-default/material-design-iconic-font.min.css" />
		<!-- Additional CSS includes -->
		<link type="text/css" rel="stylesheet" th:href="@{/css/login.css}" href="../static/css/login.css" />
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script type="text/javascript" th:src="@{/theme/material-admin/assets/js/libs/utils/html5shiv.js}"></script>
		<script type="text/javascript" th:src="@{/theme/material-admin/assets/js/libs/utils/respond.min.js}"></script>
		<![endif]-->
	</head>
	<body>
		<div class="outer">
			<div class="middle">
				<div class="inner">
					<div id="loginCard" class="card">
						<div class="card-head card-head-sm text-center">
							<img id="siteLogo" th:src="@{/img/clmmrh_logo.png}" src="../static/img/clmmrh_logo.png" alt="CLMMRRH Logo"/>
						</div>
						<form class="form" th:action="@{/login}" method="POST">
							<div class="card-body">
								<!-- @TODO:
									1. How to remove error message in session after displaying? Or how to use flash messages instead?
									2. Is it possible to get error message not from resource but from UserDetailsServiceImpl?
								 -->
								<div class="row" th:if="${session[SPRING_SECURITY_LAST_EXCEPTION] != null and !#strings.isEmpty(session[SPRING_SECURITY_LAST_EXCEPTION].message)}" th:with='errorMsg=${session[SPRING_SECURITY_LAST_EXCEPTION].message}'>
									<br/>
									<div class="alert alert-danger" role="alert">
										<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;
										<span th:text="${errorMsg}">Bad credentials</span>
									</div>
								</div>
								<div class="form-group floating-label">
									<input type="text" name="username" class="form-control input-sm" value="admin" />
									<label for="username">Username</label>
								</div>
								<div class="form-group floating-label">
									<input type="password" name="password" class="form-control input-sm" value="1qaz2wsx" />
									<label for="password">Password</label>
								</div>
								<div class="rememberMeFormGroup form-group">
									<div class="checkbox checkbox-inline checkbox-styled">
										<label>
											<input type="checkbox" class="input-sm"/> <span class="rememberMe">Remember me</span>
										</label>
									</div>
								</div>
							</div>
							<div class="card-actionbar">
								<div class="card-actionbar-row">
									<input type="submit" class="loginBtn btn ink-reaction btn-raised btn-primary btn-block" value="Login"/>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- BEGIN JAVASCRIPT -->
		<script th:src="@{/theme/material-admin/assets/js/libs/jquery/jquery-1.11.2.min.js}" src="../../static/theme/material-admin/assets/js/libs/jquery/jquery-1.11.2.min.js"></script>
		<script th:src="@{/theme/material-admin/assets/js/libs/jquery/jquery-migrate-1.2.1.min.js}" src="../../static/theme/material-admin/assets/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
		<script th:src="@{/theme/material-admin/assets/js/libs/bootstrap/bootstrap.min.js}" src="../../static/theme/material-admin/assets/js/libs/bootstrap/bootstrap.min.js"></script>
		<script th:src="@{/theme/material-admin/assets/js/libs/spin.js/spin.min.js}" src="../../static/theme/material-admin/assets/js/libs/spin.js/spin.min.js"></script>
		<script th:src="@{/theme/material-admin/assets/js/libs/autosize/jquery.autosize.min.js}" src="../../static/theme/material-admin/assets/js/libs/autosize/jquery.autosize.min.js"></script>
		<script th:src="@{/theme/material-admin/assets/js/libs/nanoscroller/jquery.nanoscroller.min.js}" src="../../static/theme/material-admin/assets/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
		<script th:src="@{/theme/material-admin/assets/js/core/source/App.js}" src="../../static/theme/material-admin/assets/js/core/source/App.js"></script>
		<script th:src="@{/theme/material-admin/assets/js/core/source/AppNavigation.js}" src="../../static/theme/material-admin/assets/js/core/source/AppNavigation.js"></script>
		<script th:src="@{/theme/material-admin/assets/js/core/source/AppOffcanvas.js}" src="../../static/theme/material-admin/assets/js/core/source/AppOffcanvas.js"></script>
		<script th:src="@{/theme/material-admin/assets/js/core/source/AppCard.js}" src="../../static/theme/material-admin/assets/js/core/source/AppCard.js"></script>
		<script th:src="@{/theme/material-admin/assets/js/core/source/AppForm.js}" src="../../static/theme/material-admin/assets/js/core/source/AppForm.js"></script>
		<script th:src="@{/theme/material-admin/assets/js/core/source/AppNavSearch.js}" src="../../static/theme/material-admin/assets/js/core/source/AppNavSearch.js"></script>
		<script th:src="@{/theme/material-admin/assets/js/core/source/AppVendor.js}" src="../../static/theme/material-admin/assets/js/core/source/AppVendor.js"></script>
		<script th:src="@{/js/site.js}" src="../../static/js/site.js"></script>
	</body>
</html>